@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root{
--Cyan: hsl(179, 62%, 43%);
--Light-Cyan:hsl(179, 62%, 43%, 0.8);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla',sans-serif;
}

body{
    background-color: var(--Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    height: auto;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.3);
}

@media only screen and (max-width:600px){
    .container{
        max-width: 375px;
        width: 100%;
    }
}

@media (orientation:landscape){

}

.header{
    padding:15px 20px;
}

.title{
    margin-bottom: 10px;
    font-size: 20px;
}

.title-header{
    font-weight: 700;
    color:var(--Cyan);
}

.subtitle-header{
    font-weight: 700;
    color: var(--Bright-Yellow);
    margin-bottom: 10px;
    font-size:18px;
}

.header-msg{
    color: var(--Grayish-Blue);
    line-height: 25px;
    margin-bottom: 15px;
}
.main{
    background-color: var(--Cyan);
    padding: 15px 20px;
    color:white;
}

.subtitle-main{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.currency{
    font-size: 30px;
    font-weight: 700;
}
.non-currency{
    color: var(--Light-Gray);
    margin-left: 5px;
}

.main-msg{
    margin-bottom: 15px;
}

.btn{
    width:100%;
    background-color: var(--Bright-Yellow);
    border: 0;
    color: white;
    padding: 12px 0px;
    border-radius: 5px;
    font-weight: 700;
}

.section{
    padding:15px 20px 25px 20px;
    background-color: var(--Light-Cyan);
    color: #fff;
}
.section .item:not(:last-of-type){
    margin-bottom: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.attribution {
     font-size: 14px; 
    text-align: center; 
    color: #fff;
}
.attribution a { 
    color:var(--Bright-Yellow);
    font-weight: 900;
 }

 @media only screen and (min-width:601px){
     .container{
         max-width: 900px;
         width: 80%;
         display: grid;
         grid-template-columns: repeat(4,1fr);
     }
     .header{
         grid-column: 1/5;
         padding:30px;
     }
     .main{
         grid-column: 1/3;
         padding: 30px;
     }
     .section{
         grid-column: 3/5;
         padding: 30px;
     }
     .btn{
         padding: 20px 0;
     }
     .attribution{
         font-size: 17px;
     }
     .section .item:not(:last-of-type){
        margin-bottom: 10px;
    }
 }
 